* {
    box-sizing: border-box;
    width: 375px;
}

body {
    font-family: 'Roboto';
}

.top {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

img {
    height: 50px;
    width: 75px;
}

.top ion-icon {
    height: 30px;
    width: 45px;
}

.chat {
    min-height: 520px;
    font-size: 14px;
    font-family: 'Roboto';
    background-color: #F3F3F3;
    margin: 80px 0px 80px 0px;
}

.bottom {
    height: 80px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.bottom ion-icon {
    height: 26px;
    width: 26px;
    margin-left: 10px;
    cursor: pointer;
}

.bottom input {
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: black;
    border: none;
    outline: 0;
}

input::placeholder {
    color: black;
}

.chat div {
    margin: 5px 0px 5px 0px;
    padding: 10px;
    word-break: break-all;
    line-height: 20px;
}

.status {
    background-color: white;
}

.msgTodos {
    background-color: #DCDCDC;
}

.msgReservada {
    background-color: #FFDEDE;
}

.time {
    color:#B0B0B0;
    font-weight: 400;
}

.user {
    font-weight: 700;
}
